/*
Format
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*
Navigation Bar
*/

nav {
    width: 100%;
    height: 18vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}

.logosmall {
    width: 18%;
}

.navleft {
    display: flex;
}

.navopt {
    width: 130px;
    text-align: center;
    margin: auto;
}

.navright {
    display: flex;
}

.navclickable {
    width: 25%;
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2%;
}

.navopt,
.navclickable {
    font-size: xx-small;
}

/*
Bottom Header
*/

.jumbotron {
    height: 472px;
    background-color: #b4d0e7;
    padding-top: 2px;

}

.container-header {
    padding: 20px 245px;
}

.title {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 50px;

}

.container-header-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3%;
    justify-content: space-evenly;
    position: relative;

}

.headerinfo,
.headerclickable,
.headercancel {
    font-size: 12px;
}

.headerclickable {
    background-color: #0061ff;
    color: white;
    width: 57%;
    padding: 4%;
    margin-top: 25px;

}

.headercancel {
    margin-top: 25px;
}

.container-header-left :nth-last-child(1) {
    margin-top: 55px;
    font-size: 32px;
}

.container-header-right {
    position: absolute;
    top: 55%;
    left: 43%
}

.container-header-right>img {
    width: 83%;
}

/*
Main title
*/

.main-top {
    margin: 11% auto 4%;
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    width: 64%;
}

.radio {
    margin: 0 auto 4%;
    width: 55%;
}

.radio>span {
    margin-right: 35px;
    font-size: small;
}

.cols {
    width: 67%;
    margin: auto;

}

.opt-cols-head {
    display: flex;
    justify-content: space-around;
}

.opt-cols-main {
    display: flex;
    justify-content: space-around;
}

.opt-cols-head>div {

    text-align: center;
    border: 1px solid black;
    font-size: 10px;
    padding: 7px;
    margin: auto 4px;
}


.opt-cols-head>div {
    width: calc(100%/3 - 30px);
    margin: auto 4px;
    border: 1px solid black
}

.opt-cols-main>div {
    width: calc(100%/3 - 30px);
    margin: auto 4px;
    border: 1px solid black;
    padding: 14px;
}

h5 {
    margin: 8% auto 2%;
}

h2 {
    margin-top: 5px;
    font-weight: 700;
}

span {
    font-size: 70%;
}

.opt-cols-list1 {
    font-size: small;
    list-style: none;
    margin-top: 45px;
}

.opt-cols-list1>li {
    margin-bottom: 20px;
}