* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 18vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}

.logosmall {
    width: 18%;
}

.navleft {
    display: flex;
}

.navopt {
    width: 130px;
    text-align: center;
    margin: auto;
    font-size: xx-small;
}

.navright {
    display: flex;
}

.navclickable {
    width: 25%;
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2%;
    font-size: xx-small;
}

.jumbotron {
    height: 550px;
    background-color: #b4d0e7;
    padding-top: 2px;

}

.container-header {
    padding: 20px 245px;
}

.title {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 50px;

}

.container-header-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3%;
    justify-content: space-evenly;
    position: relative;

}

.headerclickable {
    background-color: #0061ff;
    color: white;
    width: 70%;
    padding: 4%;
    margin-top: 25px;

}

.headercancel {
    margin-top: 25px;
}

.container-header-right {
    display: inline-block;
    position: absolute;
    top: 89%;
    left: 43%
}

.container-header-right>img {
    width: 90%;
}